[user]
	name = Maciej Biłas
	email = maciej@bilas.io
[alias]
	st = status
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lgv = log --date=iso --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)%an %Creset%Cblue<%ae>%Creset' --abbrev-commit
	cp = cherry-pick
	co = checkout
	smu = !git submodule sync --recursive && git submodule update --init --recursive
	cane = commit --amend --no-edit
	# keep this handy alias close to the old workflow, remove if you don't need it
	pf = push --force-with-lease
	pr = "!f() { git fetch origin pull/$1/head:$2; }; f"
	rebase-main = "!f() { git fetch origin main && git rebase origin/main; }; f"
	sw = switch
	lgnc = log --graph --pretty=format:'%h -%d %s (%cr) <%an>' --abbrev-commit
	lgvf = log --date=iso --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)%an %Creset%Cblue<%ae>%Creset' --abbrev-commit
	authors = shortlog -ns --no-merges
	last-msg = !git log --format='%B' -n 1 ${1:-HEAD}
	ndiff = "!f() { git diff \"$@\" -- . ':(exclude,attr:gitlab-generated)'; }; f"
	nshow = "!f() { git show \"$@\" -- . ':(exclude,attr:gitlab-generated)'; }; f"
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
	precomposeunicode = true
	editor = zed --wait
	filemode = false
	fsmonitor = false
	untrackedCache = true
	pager = delta
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[fetch]
	prune = true
[diff]
	algorithm = histogram
	colorMoved = default
	tool = zed
[difftool "zed"]
	cmd = zed --wait $LOCAL $REMOTE
[commit]
	gpgsign = false
[tag]
	gpgsign = false
[merge]
	conflictStyle = zdiff3
[branch]
	sort = -committerdate
[column]
	ui = auto
[rebase]
	autosquash = true
[log]
	decorate = true
[pull]
	rebase = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[includeIf "hasconfig:remote.*.url:git@gitlab.cfdata.org:*/**"]
	path = ~/.gitconfig-cloudflare
[includeIf "hasconfig:remote.*.url:ssh://git@gitlab.cfdata.org/**"]
	path = ~/.gitconfig-cloudflare

[interactive]
	diffFilter = delta --color-only
[delta]
	line-numbers = true
	features = catppuccin-macchiato

[delta "catppuccin-macchiato"]
	blame-palette = "#24273a #1e2030 #181926 #363a4f #494d64"
	commit-decoration-style = "#6e738d" bold box ul
	dark = true
	file-decoration-style = "#6e738d"
	file-style = "#cad3f5"
	hunk-header-decoration-style = "#6e738d" box ul
	hunk-header-file-style = bold
	hunk-header-line-number-style = bold "#a5adcb"
	hunk-header-style = file line-number syntax
	line-numbers-left-style = "#6e738d"
	line-numbers-minus-style = bold "#ed8796"
	line-numbers-plus-style = bold "#a6da95"
	line-numbers-right-style = "#6e738d"
	line-numbers-zero-style = "#6e738d"
	minus-emph-style = bold syntax "#6a485a"
	minus-style = syntax "#4c3a4c"
	plus-emph-style = bold syntax "#51655a"
	plus-style = syntax "#3e4b4c"
	map-styles = \
		bold purple => syntax "#5c517c", \
		bold blue => syntax "#47557b", \
		bold cyan => syntax "#4a6475", \
		bold yellow => syntax "#6a635d"
	syntax-theme = Catppuccin Macchiato
